extends layout
block title
    h2 Create new Post

block content
    form#postPublish(method="POST")
        div.group
            label(for="title") Title
            input(type="text" id="title" name="title" placeholder="Title" value=data && data.title required)
            if errors && errors.title
                #usernameError.error= errors.title
        div.group
            label(for="content") Post
            textarea(type="text" id="content" name="content" required)
            if errors && errors.content
                #usernameError.error= errors.content
        div.group.invisible
            label(for="author")
            input(type="text" id="author" name="author" value=locals.userName.username)
        div.group.invisible
            label(for="time_publication")
            input(type="text" id="time_publication" name="time_publication")
            if errors && errors.time_publication
                #authError.error=errors.time_publication
        button(type="submit") Publish a post

        h3= `author: ${locals.userName.username}`
block script
    script(src="/addTimeOfPub.js" type="module")